elasticsearch==1.9.0
elasticsearch-dsl==0.0.11
Flask==1.0.2
Flask-Cache==0.13.1
Flask-Cors==3.0.7
gensim==3.7.1
geoip2==2.9.0
jieba==0.39
Jinja2==2.10
numpy==1.16.1
pandas==0.24.1
Pillow==5.4.1
redis==3.2.0
requests==2.21.0
scikit-learn==0.18
scipy==1.2.1
scws==0.0.0
xpinyin==0.5.6
